* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER START*/

header {
    /* background-color: #fad745; */
    user-select: none;
    background-image: url(images/img/17938267.jpg);
}

main.top {
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #fdcc00;
}

a.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.main-top {
    height: 24.5px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 500px;
    height: 80px;
    padding-bottom: 10px;
}

.contacts {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

a {
    color: #383838;
    text-decoration: none;
    font-size: 12px;
}

.icon {
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-right: 30px;
}

.phone{
    background-image: url(images/icons/phone.svg);
    font-size: 18px;
}

.skype{
    background-image: url(images/icons/insta.svg);
    font-size: 18px;
}

.tg{
    background-image: url(images/icons/tg.svg);
    font-size: 18px;
}

.btn {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #000000;
    border: none;
    color: #fad745;
    cursor: pointer;
    font-size: 18px;
}

.callback{
    width: 140px;
    font-family: pacifico;
}


div.contacts{
    padding-right: 40px;
}

/* HEADER END*/
/* MAIN START*/

main {
    padding: 30px;
    background-color: #fad745;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;

}

.card {
    width: 350px;
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 350px;
    height: 254px;
}

img.delivery{
    height: 600px;
    border: solid 2px black;
}

.smart-basket__min-icon{
    width: 18px;
    height: 25px;
}

/* MAIN END*/
/* FOOTER START*/

footer {
    background-image: url(images/img/17938267.jpg);
    height: 80px;
}

p {
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

p.about{
    text-align: left;
}


.product__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .product__element {
    width: 20%;
    margin: 2.5%;
    padding: 15px;
    -webkit-box-shadow: 0 0 15px #ffa600;
            box-shadow: 0 0 15px #ffa600;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .product__img {
    max-width: 100%;
    height: auto;
  }
  
  .product__name {
    width: 100%;
    padding: 10px 5px 20px 5px;
    text-align: center;
    font-weight: bold;
  }
  
  .product__price {
    text-align: center;
    padding: 15px 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 15px;
  }
  
  .product__size {
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 4px;
  }
  
  .product__size-element {
    width: 30%;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .product__size-element_active {
    border: 1px solid #ff0000 !important;
  }
  
  .product__add-to-cart-button {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    -webkit-appearance: none;
    border-radius: 2px;
    background: #2d2d2d;
    color: #fff;
    cursor: pointer;
    margin: 15px 0 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 16px;
    outline: none;
  }
  
  .product__add-to-cart-button:hover {
    background: #f07c00;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .product__add-to-cart-button .fas {
    margin-right: 5px;
  }

  
  .smart-basket__min {
    width: 40px;
    cursor: pointer;
    padding: 10px 20px;
    background: none;
    border: none;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
    font-size: 15px;
    line-height: 1;
  }
  
  .smart-basket__min span {
    display: block;
  }
  
  .smart-basket__min img {
    margin-right: 5px;
  }
  
  .smart-basket__min-text {
    margin-right: 5px;
  }
  @media (max-width: 1200px) {
    .product__element {
      width: 45%;
    }
  }
  
  @media (max-width: 500px) {
    .product__element {
      width: 100%;
    }
  }



  @media (max-width: 991px){
    .main-top{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .title-section{
        background-position: 120% 120%;
    }
}

@media (max-width: 767px){
    .logo{
        margin-bottom: 10px;
    }
  .contacts{
      flex-direction: column;
  }
  .icon{
      margin-right: 0;
      margin-bottom: 11px;
  }
  h1{
      font-size: 25px;
  }
  .btns .btn{
      margin-bottom: 13px;
  }
  .title-section{
      background-position: 130% 130%;
  }
  .info{
      min-height: auto;
      margin-bottom: 5px;
  }
  footer p{
      font-size: 10px;
  }
}